.App {
  text-align: center;
  align-content: center;
}

textarea{
  resize: none;
  overflow: auto;
  border: 3px solid #111111;
}

pre {
  width: 400px;
  font-size: 12px;
  background-color: #efefef;
  color: #111111;
  text-align: left;
  padding: 5px 5px;
  overflow: auto;
  display: inline-block;
  border: 3px solid #111111;
}

.btn {
  font-weight: bold;
  border: 3px solid #111111;
  font-size: 16pt;
  padding: 3px;
}

.visualize-btn{
  background-color: #679b9b;
  color: #111111;
}

.help-btn{
  background-color: #ffd27d;
  color: #111111;
}

ul{
  list-style: circle;
  list-style-position: inside;
}

.like{
  font-size: 10px;
}