.IslandBox{
    border: 3px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
}
.IslandRow{
    display: flex;
}

.Island{
    text-align: center;
}